<div>
    <ion-pane ng-controller="CardsCtrl">
      <ion-header-bar class="bar bar-default">
        <button class="button button-icon icon ion-gear-a"></button>
        <div class="h1 title logo"><img src="img/logo-v2.jpg"></div>
        <button class="button button-icon icon ion-chatbubbles "></button>
      </ion-header-bar>

      <td-cards delegate-handle="friends">
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="" on-swipe-right="" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}" ng-click="selectItem(card)">
          <div class="image">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">LIKE</div>
            <div class="bottom">
              <p class="name" ng-bind="card.name"></p> 
              <div class="right-icons">
                <!--<button class="button button-icon icon ion-ribbon-a">3</button>-->
                <button class="button button-icon icon ion-ios-people">140</button>
              </div>
            </div>
          </div>
        </td-card>
        
      </td-cards>
      <div class="controls-container"> 
        <div class="controls" ng-hide="hideControls">
          <div id="swipe_dislike" class="rate" ng-click="cardSwipedLeft(e)"></div>
          <!--<div class="info" ng-click="setCurrent()"></div>--> 
          <div id="swipe_like" class="rate" ng-click="cardSwipedRight(e)"></div>
        </div>
      </div>
      
    </ion-pane>
  </div>
